h1{
  font-size: 45px;
  font-family: cursive;
  text-align: center;
  border-bottom: 1px solid black;
  padding: 20px;
  margin: 0;
}
h1 a{
  color: black;
}
h3{
  font-size:25px;
}
body{
  font-family: Georgia;
}
footer{
  color: black;
  text-align: center;
}
#category{
  font-family: Georgia, serif;
  border-right: 1px solid black;
  width: 150px;
  padding-left: 30px;
  margin: 0;
}
#category ul a{
  font-size: 20px;
  color: black;
}

#grid{
  display: grid;
  grid-template-columns: 1fr 10fr
}
